:root {
  --body-color: #eee;
  --background-color: white;
  --back-button-color:#00BCD4;
  --text-color: black;
  --bordr-buttom-color: #6db3b3;
  --border-color:#322f2f;
}

[data-theme="dark"] {
  --body-color: #25252c;
  --background-color: #181a1e;
  --back-button-color:#1976D2;

  --text-color: white;
  --bordr-buttom-color: #e8efef;
  --border-color:#f0f0f0;
} 
 
 

header button {
    border: 1px solid var(--border-color);
    background-color: var(--back-button-color);
    color: white;
    border-radius: 6px;
    display: flex;
    padding: 2px 6px;
    cursor: pointer;
    box-shadow: 0 0 2px 1px var(--bordr-buttom-color);
        justify-content: center;
    align-items: center  ;
}

header button i {
    font-size: 16px !important;
}
/* search */

.search .box {
    height: 100%;
    margin-left: 10px;
    width: 40%;
    padding: 10px 0px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: var(--body-color);
    border: 2px solid var(--back-button-color);
    border-radius: 10px;
}
.search .box form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.search .box  label {
margin-left: 10px;
    font-size: 11px;
    padding-right: 0px;
    width: 30%;
    font-weight: 600;
    margin-bottom: 0;

}
.search .box .lister {
    position: relative;
    width: 60%;
}

.search .box input {
    border-radius: 6px;
    padding: 2px 0;
    border: 2px solid var(--back-button-color);
    background-color: var(--background-color);
    padding-right: 10px;
    outline: none;
    font-size: 14px;
    width: 100%;
    position: relative;
    z-index: 3;

}

.search .box #autocomplete {
    background-color: var(--background-color);
    border-radius: 6px 8px 0 0;
    position: absolute;
    z-index: 1;
    max-height: 100px;
    overflow-y: auto;
    width: 100%;
    margin-top: -3px;
    border-top: none;
    /* border-radius: 6px; */
    border: 2px solid var(--back-button-color);
            margin-top: -5px;
    border-top: none;
}

.search .lister .autocomplete-item {
    padding: 2px;
    cursor: pointer;
    font-size: 9px;
    border-bottom: 0.8px solid var(--back-button-color);
    text-align: start;
    color: var(--text-color);
    font-weight: 600;
    background-color: var(--body-color);
    cursor: pointer;
}
.search .lister .autocomplete-item:hover {
    background-color: var(--background-color);
}
.search form button {
    padding: 4px 2px;
    font-size: 12px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    color: white;
    font-weight: 800;
    width: 30%;
    margin: 0 auto;
    background-color: var(--back-button-color);
    cursor: pointer;
    box-shadow: 0 0 2px 1px var(--bordr-buttom-color);
        margin: 100px auto 0;
}
.Nuber {
        width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search .box  .addand { 
     display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
        margin-top: 20px;
}

.Nuber  h3 {
    width: fit-content;
    font-size: 10px;
    width: 40%;
        padding: 6px 0;
        background-color: var(--background-color);
}
.Nuber h3 span,
.Nuber .addand h3 span {
display: block;
}
/* .search  */
.search .addand h5,
.search  h5 {
   font-size: 12px;
    width: 100%;
    text-align: start;
    padding-right: 8px;
    margin: 4px 0;
    border: none;

}
.search .box .totel { 
    width: 100%;
        width: 70%;
    padding: 6px 0;
    margin-top: 20px;
    /* margin-bottom: 10px; */
    border: 1px solid #F44336;
    border-radius: 6px;
    box-shadow: 0 0 4px 0px #E91E63;
}
.addand h3:first-child {
        border: 1px solid #FF9800;
    border-radius: 6px;
    box-shadow: 0 0 4px 0px #FF9800;
}
.addand h3:last-child {
        border: 1px solid #009688;
    border-radius: 6px;
    box-shadow: 0 0 4px 0px #009688;
}
.search .bottom {
      padding: 4px 2px;
    font-size: 12px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    color: white;
    font-weight: 800;
    width: 30%;
    background-color: var(--back-button-color);
    cursor: pointer;
 box-shadow: 0 0 2px 1px var(--bordr-buttom-color);
    margin: 100px auto 0;
}

/* ====================================== */

/* ====================================== */

.search .tables {
    width: 60%;
    background: var(--background-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 4px;
    overflow-y: auto;
    border: 2px solid var(--back-button-color);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.search table {
  width: 96%;
    background-color: var(--body-color);
    padding: 6px;
    border-radius: 8px;
    color: black;
}
.search .tables h2{
    margin-bottom: 10px;
    width: 50%;
    font-size: 12px;
    padding: 4px;
    background-color: var(--body-color);
}
/* .search .tables table {
 
} */
.search table thead tr th {
     background-color: var(--back-button-color);
    border: 2px solid white;
    color: white;
    border-radius: 8px;
    font-size: 10px;
    /* color: black; */

}

.search table thead tr th:first-child {
    width: 18%;
    /* display: flex;
    justify-items: center; */
}
.search table thead tr th:nth-child(2) {
    width: 14%;
}

.search table thead tr th:nth-child(3) {
    width: 34%;
font-size: 8px;
}
.search table thead tr th:nth-child(4) {
    width: 16%;
}
.search table thead tr th:last-child {
    width: 18%;
}

.search table tbody tr td {
    background-color: var(--background-color);
    border: 1.4px solid var(--back-button-color);
    border-radius: 4px;
    color: var(--text-color);
    font-size: 10px;
    font-weight: 800;
}
.search table tbody tr td:first-child {
        width: 18%;
    display: table-cell;
    background-color: var(--back-button-color);
    text-align: center;
        border: 1px solid white;

}

.search table tbody tr td:nth-child(3) {
    font-size: 8px;
    text-align: start;
    padding-right: 2px;
}
.search table tbody tr td:first-child span {
    color: white;
    transition: 0.3s;
    cursor: pointer;
    margin: 0 10%;
    font-size: 14px;
}
.search table tbody tr td:first-child .edit-icon:hover {
    color: #FF9800;
}
 .search table tbody tr td:first-child .delete-icon:hover{
            color: #F44336;
        } 
.search table tbody tr .red-text {
    color: #F44336;
}
.search table tbody tr .green-text {
    color: #009688;
}











.modal-content label {
    width: 25%;
    display: inline-block;
    margin: 8px 0;
    text-align: center;
}


.modal-content input {
    width: 70%;
    padding: 4px;
    border-radius: 8px;
    border: 2px solid #1976D2;
    padding-right: 8px;
    font-size: 14px;
    font-weight: 800;
    margin: 10px 0;
}
.modal-content #editDetails {
    font-size: 12px;
}
.box label p ,
.box h5 p,
.box h5 span,
.modal-content label p,
.modal-content p span {
    display: inline;
    margin-right: 10px;
    font-size: 14px;
    color: #E91E63;
    font-weight: 800;
}
.box h5 span {
    margin-right: 10px;
}

.search .box .addand h3 span {
    font-size: 14px;
}

#totalAdditions {
    color: #FF9800;
}
#totalPayments {
    color: #009688;
}
.modal-content .button {
  display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 12px;
    background-color: black;
    padding: 10px 16px;
    border: 1px solid #1976D2;
    border-radius: 8px;
}
h3 span {
    color: #E91E63;
    margin: 0 10px;
    font-size: 14px;
}

.modal-content .button button {
    padding: 4px 2px;
    font-size: 12px;
    border: 1px solid white;
    border-radius: 6px;
    color: white;
    font-weight: 800;
    width: 18%;
    background-color: #1976D2;
    cursor: pointer;
    box-shadow: 0 0 2px 1px azure;
}




.modal-content {
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    text-align: start;
    background-color: #25252c;
    border: 2px solid #1976D2;
    text-align: center;
}
.modal-content h2 {
    font-size: 14px;
    margin: 6px 0;
    background-color: #181a1e;
    border: 2px solid #1976D2;
    width: 50%;
    margin: 8px auto;
    border-radius: 8px;
    text-align: center;
}


 #deleteModal,
        #editModal {
            position: fixed;
            z-index: 2;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
        }








