* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Cairo", sans-serif;
    text-align: center;
       background: #25252c;
  color: white;
  }
  ul {
    list-style: none;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    height: calc(70vh - 50px);
  }
  
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
header {
     display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #1976D2;
    flex-direction: column;
    background-color: #181a1e;
}

header h1 {
       font-size: 14px;
    color: #fbfbfb;
    padding: 3px 10px;
    background-color: #25252c;
    border: 2px solid #1976D2;
    width: 100%;
    border-radius: 8px;
    font-weight: bolder;
    max-width: 400px;
    margin-bottom: 10px;
}

.Numbr {
       display: flex;
    /* width: 200px; */
    padding: 10px;
    background-color: #0f0d0d;
    width: fit-content;
    padding: 5px 10px;
    border: 2px solid #1976D2;
    font-size: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}
section .Numbr p {
   color: #E91E63;
    margin-right: 10px;
    font-size: 16px;
}
ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    border: 2px solid #1976D2;
    border-radius: 10px;
    background-color: #181a1e;

}



ul li {
     width: 200px;
    height: 100px;
    background-color: #25252c;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: 800;
    border: 2px solid #1976D2;
}

ul li a {
        color: #fbfbfb;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
  /* @media (min-width: 768px) {
ul li  {
    max-width: 30%;
} */


  @media (max-width: 767px) {

 

ul li {
         width: 80%;
        height: 10%;
        padding: 4px;
}

  }


  /* 
     .container {
      height: calc(80vh - 50px);
    }
    header h1 {
      width: 80%;
    }
ul {
           justify-content: space-around;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
} */